/* CAROUSEL */
.carousel-container {
  display: grid;
  background-image: url("/images/background-design.png");
  height: 470px;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
  img {
    object-fit: cover;
    height: 470px;
  }
}

.carousel-first {
  border: 5px solid $primarySand;
  width: 700px;
  height: 470px;
}


/* MEDIA QUERIES CAROUSEL*/
@media (max-width: 990px) {
  .carousel-first {
    width: 500px;
    height: 350px;
    img {
      height: 340px;
    }
}
}
@media (max-width: 750px) {
  .carousel-container {
    height: 350px;
  .carousel-first {
    width: 475px;
    height: 300px;
    img {
      height: 290px;
    }
}
}
}

@media (max-width: 550px) {
  .carousel-container {
    height: 350px;
  .carousel-first {
    width: 350px;
    height: 300px;
    img {
      height: 290px;
    }
}
}
}