/* CAROUSEL */
.carousel-container {
  display: grid;
  background-image: url("/images/background-design.png");
  height: 470px;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
  img {
    object-fit: cover;
    height: 470px;
  }
}

.carousel-first {
  border: 5px solid $primarySand;
  width: 700px;
  height: 470px;
}


/* MQ CAROUSEL*/
@media (max-width: 990px) {
  .carousel-first {
    width: 400px;
    height: 250px;
}
}

@media (max-width: 550px) {
  .carousel-first {
    object-fit: cover;
    width: 350px;
    height: 100px;
}
}