/*CONTACT US PAGE*/
.contactus-grid {
  margin-top: 100px;
}
.mb-4 {
  font-size: 35px;
  color: #3fabc9;
}
.btn-outline-info {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 150px;
}
.contactUs {
  border: 3px solid #3fabc9;
  border-radius: 5px;
  width: 300px;
  height: 350px;
  object-fit: cover;
  margin-left: 80px;
  margin-top: 90px;
}