/* MAIN - FIRST CONTAINER*/
.first-container {
  margin-bottom: 65px;
  display: grid;
  width: 100vw;
  padding: 20px;
  height: 100vh;
  grid-template-columns: 25% 75%;
  grid-template-rows: 2fr 7fr 1fr;
  color: #ffffff;

  .era-logo {
    height: 300px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    justify-self: left;
    align-self: center;
  }

  .home-header {
    font-family: $titleFont;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 50px;
    align-self: top;
    justify-self: center;
  }

  .home-paragraph {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 20px;
    align-self: top;
    justify-self: center;
  }

  .break-one {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 60%;
    justify-self: center;
    align-self: top;
    border: 2.5px solid white;
    border-radius: 5px;
  }
}


/* MAIN - SECOND CONTAINER*/
.second-container {
  display: grid;
  width: 100vw;
  height: 60vh;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;

  grid-template-areas: "main side";

    .img-la-era-pool {
      grid-area: main;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
      
    .blue-bg {
        grid-area: side;
        background-image: url('/images/background-design.png');
        width: 100%;
        height: 100%;
        text-align: center;
        align-self: center;
        // padding: 20%;
        font-size: 55px;

        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        grid-template-areas: "title1"
        "title2";

        .swimming-pool-header {
          font-family: $titleFont;
          font-size: 95%;
          color: #ffffff;
        }
        .swimming-pool-info-btn {
          font-size: 30%;
          color: #ffffff;
          border: 2px solid #ffffff;
        }
      }
  }

  /* MAIN - THIRD CONTAINER*/
  .third-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 450px;

  .relaxation-text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: center;
    color: #ffffff;
    font-size: 65px;
    font-family: $titleFont;
  }
  .relaxation-info-btn {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    height: 45px;
    justify-self: center;
    align-self: top;
    width: 130px;
    font-size: 18px;
    color: #ffffff;
    border: 2px solid #ffffff;
  }

  .bbq-img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 450px;
    width: 50vw;
    object-fit: cover;
    object-position: 60% 25;
  }
}


/* MQ - FIRST CONTAINER */
@media(max-width: 550px) {
  .first-container {
    // padding: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 1.25fr 0.05fr 0fr 3fr;
    grid-template-areas: "header" "break" "nodisplay" "logo";

    .home-header {
      font-size: 35px;
      grid-area: header;
      justify-self: center;
      align-self: center;
      text-align: center;
    }
    .break-one {
      grid-area: break;
      justify-self: center;
      align-self: bottom;
    }
    .home-paragraph {
      grid-area: nodisplay;
      display: none;
      font-size: 0px; 
    }
    .era-logo {
      height: 300px;
      grid-area: logo;
      justify-self: center;
    }
  } 
}

/* MQ SECOND CONTAINER*/
@media(max-width: 990px) {
  .second-container {
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 45vh;
    grid-template-areas: "title1" "title2";

    .blue-bg {
      .swimming-pool-header {
        font-size: 70%;
        padding: 20px;
        grid-area: title1;
        align-self: bottom;
      }
      .swimming-pool-info-btn {
        font-size: 30%;
        align-self: top;
        grid-area: title2;
        border: 1px solid #ffffff;
      }
    }
  }
  }

  @media(max-width: 550px) {
    .second-container {
      width: 100vw;
      height: 35vh;
      grid-template-columns: 100%;
      grid-template-rows: 7fr 3fr;
      grid-template-areas: "pool-img" "bg-blue-txt";
      
      .img-la-era-pool {
        grid-area: pool-img;
      }
      
      .blue-bg {
        grid-area: bg-blue-txt;
        .swimming-pool-header {
          font-size: 50%;
          padding: 20px;
          // align-self: bottom;
        }
        .swimming-pool-info-btn {
          // font-size: 20%;
          // align-self: top;
          border: 1px solid #ffffff;
        }
      }
    }
    }

/* MQ THIRD CONTAINER */
@media(max-width:990px) {
.third-container {
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 35vh;

  .relaxation-text {
    font-size: 20px;
  }
  .relaxation-info-btn {
    font-size: 100%;
  }
  .bbq-img {
    height: 250px;
  }
}
}