/* MAIN - FIRST CONTAINER*/
.first-container {
  padding: 20px;
  margin-bottom: 25px;
  display: grid;
  width: 100vw;
  grid-template-columns: 25% 75%;
  grid-template-areas:
  "logo header"
  "logo txt"
  "logo break-line";
  color: #ffffff;

  .era-logo {
    height: 300px;
    grid-area: logo;

  }

  .home-header {
    font-family: $titleFont;
    grid-area: header;
    font-size: 50px;

  }

  .home-paragraph {
    grid-area: txt;
    font-size: 20px;

  }

  .break-one {
    grid-area: break-line;
    width: 60%;

    border: 2.5px solid white;
    border-radius: 5px;
  }
}


/* MAIN - SECOND CONTAINER*/
.second-container {
  display: grid;
  width: 100vw;
  height: 60vh;
  grid-template-columns: 65% 35%;
  grid-template-areas: "main side";

    .img-la-era-pool {
      grid-area: main;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
      
    .blue-bg {
        grid-area: side;
        background-image: url('/images/background-design.png');
        text-align: center;
        align-self: center;
        font-size: 65px;
        padding: 20px;

        .swimming-pool-header {
          font-family: $titleFont;
          font-size: 95%;
          color: #ffffff;
        }
        Button {
          font-size: 30%;
          color: #ffffff;
          border: 2px solid #ffffff;
        }
      }
  }

  /* MAIN - THIRD CONTAINER*/
  .third-container {
    display: grid;
    width: 100vw;
    height: 60vh;
    grid-template-columns: 50% 50%;
    grid-template-areas: "text image";

    .txt-btn-container {
      grid-area: text;
      align-self: center;
      text-align: center;

      .relaxation-text {
        color: #ffffff;
        font-size: 65px;
        font-family: $titleFont;
      }
      .relaxation-info-btn {
        height: 45px;
        width: 130px;
        font-size: 18px;
        color: #ffffff;
        border: 2px solid #ffffff;
      }
    }

  
  
  .bbq-img {
    grid-area: image;
    height: 450px;
    width: 50vw;
    object-fit: cover;
  }
}


/* MQ - FIRST CONTAINER */
@media(max-width: 1305px) {
  .first-container {
    grid-template-columns: 40% 60%;
    grid-template-areas: "logo header""logo txt""logo break-line";

    .home-header {
      grid-area: header;
    }
    .break-one {
      grid-area: break-line;
    }
    .home-paragraph {
      grid-area: txt;
    }
    .era-logo {
      grid-area: logo;
      justify-self: center;
      height: 250px;
    }
  } 
}
@media(max-width: 1005px) {
  .first-container {
    grid-template-columns: 100%;
    grid-template-areas: "logo" "header" "txt" "break-line";
    text-justify: center;

    .home-header {
      grid-area: header;
      justify-self: center;
      font-size: 40px;
      text-align: center;
      align-self: center;
    }
    .break-one {
      grid-area: break-line;
      justify-self: center;
    
    }
    .home-paragraph {
      grid-area: txt;
      justify-self: center;
      font-size: 17px;
      text-align: center;
    }
    .era-logo {
      grid-area: logo;
      height: 210px;
      align-self: top;
      margin-bottom: 15px;
    }
  } 
}

@media(max-width: 550px) {
  .first-container {
    grid-template-columns: 100%;
    grid-template-areas: "header" "break" "nodisplay" "logo";
    margin-bottom: 10px;

    .home-header {
      font-size: 35px;
      grid-area: header;
      justify-self: center;
      align-self: center;
      text-align: center;
    }
    .break-one {
      grid-area: break;
      justify-self: center;
      align-self: bottom;
    }
    .home-paragraph {
      grid-area: nodisplay;
      display: none;
      font-size: 0px; 
    }
    .era-logo {
      height: 225px;
      grid-area: logo;
      justify-self: center;
      align-self: bottom;
    }
  } 
}

/* MQ SECOND CONTAINER*/
@media(max-width: 990px) {
  .second-container {
    width: 100vw;
    height: 300px;
    grid-template-columns: 50% 50%;
    grid-template-areas: "pool-img bg-blue-txt";
    
    .img-la-era-pool {
      grid-area: pool-img;
    }
    
    .blue-bg {
      grid-area: bg-blue-txt;
      .swimming-pool-header {
        font-size: 75%;
        padding: 20px;
      }
      .swimming-pool-info-btn {
        border: 1px solid #ffffff;
      }
    }
  }
  }

  @media(max-width: 650px) {
    .second-container {
      width: 100vw;
      grid-template-columns: 50% 50%;
      grid-template-areas: "pool-img bg-blue-txt";
      
      .img-la-era-pool {
        grid-area: pool-img;
      }
      
      .blue-bg {
        grid-area: bg-blue-txt;
        .swimming-pool-header {
          font-size: 35%;
          padding: 10px;
        }
        .swimming-pool-info-btn {
          border: 1px solid #ffffff;
        }
      }
    }
    }

/* MQ THIRD CONTAINER */
// @media(max-width:990px) {
// .third-container {
//   grid-template-columns: 5fr 5fr;
//   grid-template-rows: 350px;

//   .relaxation-text {
//     font-size: 20px;
//   }
//   .relaxation-info-btn {
//     font-size: 100%;
//   }
//   .bbq-img {
//     height: 100px;
//   }
// }
// }

// @media(max-width:550px) {
//   .third-container {
//     grid-template-columns: 5fr 5fr;
//     grid-template-rows: 350px;
  
//     .relaxation-text {
//       font-size: 20px;
//     }
//     .relaxation-info-btn {
//       font-size: 100%;
//     }
//     .bbq-img {
//       height: 250px;
//     }
//   }
//   }